p {
  color: red;
};

button {
  cursor: pointer;
};

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
};

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  background-color: white;
  width: 30%;
  height: 30%;
};

#modalForm {
  display: flex;
  flex-direction: column;
}